body{
    margin:0;
    
    font-family: "Protest Revolution", sans-serif;
    font-size: 14px;
    line-height:1.5;
    color:brown;
}
*,
*:before,
*:after{
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
     }
/*intro*/
    
    .intro{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        height:100vh;
        background: url("../images/%D1%84%D0%BE%D0%BD.jpg")center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-color: beige;
}
.intro_title{
   font-size: 100px; 
   padding-top: 800;
    text-transform: uppercase;
    text-align: center;
}
.intro_i{
   width:100%;
    max-width: 800px;
    margin: 0 auto;
}

/*Шапка*/
header{
   width:100%;
   padding-top:30px;
   position:static;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    background-color:darkorange;
}
/*чтобы все было по краям*/
.header_inner{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.long_logo{
    font-size:12px;
    font-weight:700
    color:brown;
}
/*работа с навигацией*/
.nav{
font-size:18px;
text-transform: uppercase;
}
/*работа с навигацией*/
.nav_link{
display: inline-block;
vertical-align: top;
   margin:0 15px;
   color:brown;
   text-decoration: none; 
   transition: color 0.2s linear;
   
   
}
.nav_link:hover{
    color:blueviolet;
    
}
.section{
    padding: 80px 0;
}
.section_header{
    margin-bottom:15px;
    text-align:center;
}
.section_s{
    margin-top: 20px;
    font-size:30px;
    color:brown;
}
.section_title{
    font-size:30px;
    
}
.section_text{
    font-size: 22px;
}
table{
    margin-top:10px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-family: sans-serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background:#ece9e0;
    color:darkgrey;
    border: 16px solid #ece9e0;
    border-radius: 20px;
   
    
}
th{
  font-size: 18px;
  padding:10px;
    
}
td{
    background:#f5d7bf;
    padding:10px;
    
    
}

/*галлерея*/
.gal{
    display:flax;
    margin-bottom: 500px;
}
.gal_item{
  flex:1 1 0;
  float:left;
  width: 25%;
}
.item{
    position:relative
}
img{
    max-height: 200px;
    max-width: 200x;
    overflow: hidden;
    margin-bottom: 50px;
}
.sp{
    margin-top: 50px;
    margin-bottom: 30px;
}
.sp_intem{
    font-size: 20px;
    color:brown;
}
.niz{
    background-color:darksalmon;
    
    width:100%;
   padding-top:30px;
   position:static;
    
    
}
ul.social-buttons {
  margin-bottom: 0;
    text-align: center;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
    text-align: center;
    text-decoration: none;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
    text-align: center;
}

.list-inline-item {
  display: inline-block;
}
.or{
    text-align: center;
}
.wraper{
    text-align: center;
}
.section_text{
    text-align: center;
}


.sp{
    
    margin: 0;
    position: relative;
    margin-left: 10px;
}
ul{
    width: 100%;
    display: table;
}
.cent{
    margin-left: 550px;
}
.coll{
    margin-left: 100px;
}




